@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  background: url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/afternoon/08.jpg') no-repeat top;
  height: 100%;
  background-size: cover;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  color: rgb(88, 11, 188);
  line-height: 21px;
  font-style: normal;
}

.wrapper {

  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
  min-height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.image {
  width: 18rem;
  height: 22rem;
}

.main-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  max-width: 38rem;
}
.game-level__very-easy,
.game-level__easy {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid transparent;
  background: rgba(190, 196, 196, 0.3);
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 10px 19px 30px, rgb(0 0 0 / 50%) 10px 10px 15px 12px;
  padding: 20px;
  min-width: 10rem;
  min-height: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.main-section__game-level{
  justify-content: center;
  align-self: center;
}
.game-level__average{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid transparent;
  background: rgba(190, 196, 196, 0.3);
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 10px 19px 30px, rgb(0 0 0 / 50%) 10px 10px 15px 12px;
  padding: 20px;
  min-width: 10rem;
  min-height: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.game-level__very-hard,
.game-level__hard{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid transparent;
  background: rgba(190, 196, 196, 0.3);
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 10px 19px 30px, rgb(0 0 0 / 50%) 10px 10px 15px 12px;
  padding: 20px;
  min-width: 10rem;
  min-height: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.main-section__logic{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-self: center; */
}
.logic__shuffle{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid transparent;
  background: rgba(190, 196, 196, 0.3);
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 10px 19px 30px, rgb(0 0 0 / 50%) 10px 10px 15px 12px;
  padding: 20px;
  min-width: 10rem;
  text-align: center;
  min-width: 20rem;
  margin-bottom: 30px;
}
.new_game{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid transparent;
  background: rgba(190, 196, 196, 0.3);
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 10px 19px 30px, rgb(0 0 0 / 50%) 10px 10px 15px 12px;
  padding: 20px;
  min-width: 10rem;
  text-align: center;
  min-width: 20rem;
  margin-bottom: 30px;
}
.deck__stage{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}
.deck__count{
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.deck__stage{
  text-align: center;
  margin-bottom: 20px;

}
.deck__green,
.deck__red,
.deck__blue{
  border: 1px solid transparent;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 6px;
  color: white;
}
.deck__green{
  background: green;
}
.deck__red{
  background: brown;
}
.deck__blue{
  background: blue;
}
.card-back,
.card-deck__click{
  width: 10rem;
  height: 14rem;
  margin-right: 10px;
}
.logic__card-deck{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.active{
  border: 5px solid rgb(198, 138, 198);
  align-self: center;

}
.finish{
  display: none;
}
.active_level{
  background: rgb(198, 138, 198);
}